/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100&subset=latin,cyrillic-ext,cyrillic);

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight:400px;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-wrapper {
    min-height: 100%;
}
* html .page-wrapper {
    height: 100%;
}

.footer-bottom {
    padding-top: 15px;
}

.footer-bottom p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 15px;
}

.footer-bottom p span a {
    color: #FE980F;
    font-style: italic;
    text-decoration: underline;
}

#footer {
    width: 100%;
    background: #F0F0E9;
    height: 50px;
   
}

.footer-top .container {
    border-bottom: 1px solid #E0E0DA;
    padding-bottom: 20px;
}

p.create-news{margin-top: 10px;}

.main {
    min-height: 90%;
}

.mt40{
    margin-top: 40px;
}